
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
     <meta name="keywords" content="Priyanshu Raj Anand, techpra.xyz, techpra, PRA, Learn Hacking, Web Development, Learn Programming, C++, Bootstrap, HTML, CSS, Penetration Testing," >
        <meta name="description" content="Priyanshu Raj Anand, Techpra.xyz" >
        <meta name="classification" content="Priyanshu Raj Anand, Techpra.xyz" >
       
     

       
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
       	<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" />
       
        <script>
$(document).ready(function() {
    $("#news-slider").owlCarousel({
        items : 3,
        itemsDesktop:[1199,2],
        itemsDesktopSmall:[980,2],
        itemsMobile: [600, 1],
        navigation : false,
        pagination:false,
        autoPlay : true
    });
});
	</script>
    
       
       
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Techpra</title>
  
  </head>
  <body>

 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="{{ url_for('static', filename='3.jpg') }}" alt="logo" width="35">
  <a class="navbar-brand" href="/">&nbsp;Techpra</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"><i class="fa fa-fw fa-home"></i>Home <span class="sr-only">(current)</span></a>
      </li>
       
         
    
      
      <li class="nav-item">
        <a class="nav-link" href="/webworks"><i class="fa fa-globe"></i>My Web Works</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="/blogs">Blogs</a>
      </li>
    </ul>
    <a href="{{params['fb_url']}}" class="facebook" target="_blank"><i class="fa fa-facebook"></i>&nbsp;</a>
  <a href="{{params['tw_url']}}" class="twitter" target="_blank"><i class="fa fa-twitter"></i>&nbsp;</a>
  <a href="{{params['gh_url']}}" class="github" target="_blank"><i class="fa fa-github"></i>&nbsp;</a>
  <a href="{{params['LI_url']}}" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i>&nbsp;</a>
  <a href="{{params['yt_url']}}" class="youtube" target="_blank"><i class="fa fa-youtube"></i>&nbsp;</a>
  <a href="{{params['insta_url']}}" class="instagram" target="_blank"><i class="fa fa-instagram"></i>&nbsp;</a>
  
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-fw fa-search"></i>Search</button>
    </form>
  </div>

</nav>

 

<section class="jumbotron text-center">
    <div class="container">
        <img src="{{ url_for('static', filename='3.jpg') }}" alt="logo" width="120">
  <h1>Welcome, to Techpra</h1>
  <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If you are get Confused on which course to take?. This will Help to find out the best Courses for you. <br>
  Techpra is my small attempt to make you learn about these things from basic to advanced with some references.</p>
  <hr class="my-4">
  <p>Do you want to learn programming in 2020?&middot;&middot;&middot;  How to learn to code, what's the best approach to learn programming&middot;&middot;&middot;?</p>
  <a class="btn btn-outline-primary btn-lg" href="/about" role="button">Learn more</a>
  
  <a class="btn btn-outline-primary btn-lg" href="/contact" role="button">Contact Me</a>
  
  
  
        </div>
   <a href="{{params['fb_url']}}" class="facebook" target="_blank"><i class="fa fa-facebook"></i>&nbsp;</a>
  <a href="{{params['tw_url']}}" class="twitter" target="_blank"><i class="fa fa-twitter"></i>&nbsp;</a>
  <a href="{{params['gh_url']}}" class="github" target="_blank"><i class="fa fa-github"></i>&nbsp;</a>
  <a href="{{params['LI_url']}}" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i>&nbsp;</a>
  <a href="{{params['yt_url']}}" class="youtube" target="_blank"><i class="fa fa-youtube"></i>&nbsp;</a>
  <a href="{{params['insta_url']}}" class="instagram" target="_blank"><i class="fa fa-instagram"></i>&nbsp;</a>
  
</section>





<div id="main">

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<!-- 2 Columns -->
								<div class="flex flex-2">
									<div class="col col1">
										<div class="image round fit">
											<a href="/blogs" class="link"><img src="{{url_for('static', filename='blog-1.jpg')}}" alt="" /></a>
										</div>
									</div>
									<div class="col col2">
										<h3>Blogs</h3>
										<p>In this section, I've tried my best to include, Programming, Hacking, Latest Technology, Web Development and Other Related References. Some of the latest information compiled as coding articles. Keep your knowledge up to date with our coding articles.</p>
										<p>You can Learn Web Design & Development, Programming, Hacking and Up to date with Latest Technologies news with  Techpra... </p>
										<a href="/blogs" class="button">Learn More</a>
									</div>
								</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style2">
						<div class="inner">
							<div class="flex flex-2">
								<div class="col col2">
									<h3>Get in touch</h3>
									<p>Want to get in touch? We'd love to hear from you. Here's how you can reach us. You're not going to hit a ridiculously long phone menu when you call us. Your email isn't going to the inbox abyss, never to be seen or heard from again. At Choice Screening, we provide the exceptional service we'd want to experience ourselves!</p>
									<p>I'm a Web Developer You can Contact me for Bussiness enquiries. I'm Get back to you Soon as Possible. </p>
									<a href="/contact" class="button"><i class="fa fa-fw fa-envelope"></i>Contact Me</a>
								</div>
								<div class="col col1 first">
									<div class="image round fit">
										<a href="/contact" class="link"><img src="{{url_for('static', filename='contact.jpg')}}" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</section>



</div>




        <hr>
    








<footer class="container mt-3">
    <p class="float-right">
    <a href="{{params['gh_url']}}" class="github" target="_blank"><i class="fa fa-github"></i>&nbsp;</a>
  <a href="{{params['LI_url']}}" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i>&nbsp;</a>
    <a href="{{params['insta_url']}}" class="instagram" target="_blank"><i class="fa fa-instagram"></i>&nbsp;</a>
    <a href="#">&nbsp;&nbsp;&nbsp;Back to top</a></p>
    <p>&copy; 2020-2021 Techpra.xyz &middot; <a href="/privacy-policy">Privacy</a> &middot; <a href="#">Terms</a> &middot; <a href="/contact">Contact</a>   
 

  </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>